KEYCLOAK_URL=http://keycloak:8080/
KEYCLOAK_REALM=synexis
KEYCLOAK_CLIENT_ID=telepresence
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_CLIENT_SECRET=wO8qciPyigPvlYPQAX3wzft18wa1lqv6

DATABASE
DB_URL=postgresql://postgres:5432/tourpresence
DB_USERNAME=synexis
DB_PASSWORD=synexis123