# KEYCLOAK
KEYCLOAK_URL=xxxxx
KEYCLOAK_REALM=xxxxx
KEYCLOAK_CLIENT_ID=xxxxx
KEYCLOAK_ADMIN_USERNAME=xxxxx
KEYCLOAK_ADMIN_PASSWORD=xxxxx
KEYCLOAK_CLIENT_SECRET=xxxxx

# DATABASE
DB_URL=xxxxx
DB_USERNAME=xxxxx
DB_PASSWORD=xxxxx